# Single Postgres connection for the API
DATABASE_URL=postgres://postgres@localhost:5432/aide_amerr
DISCORD_WEBHOOK=
MEA_PAYLOAD=payload
MASTER_KEY=
MWA_ACCOUNT_CODE=
MWA_PAYLOAD=payload
SOLAR_DEVICE_ID=
SOLAR_OPEN_APP_ID=
SOLAR_OPEN_APP_SECRET=
SOLAR_PAYLOAD=
PORT=3000
LOG_LEVEL=info
